/.DS_Store
/.vscode
/Cipherus.jar
/cipherusSave.xml
/assets/cryptor_docu_en.pages
/assets/cryptor_docu_fr.pages
/assets/cryptor_docu_de.pages
/assets/tartarus_docu_fr.pages
/assets/tartarus_docu_de.pages
/assets/tartarus_docu_en.pages
assets/cipherus_ad/cipherus_ad.key
assets/cipherus_ad/cipherus_release_ad.key
