/.DS_Store
/.vscode
/Cipherus.jar
/cipherusSave.xml
/assets/cryptor_docu_en.pages
/assets/cryptor_docu_fr.pages
/assets/cryptor_docu_de.pages
/assets/tartarus_docu_fr.pages
/assets/tartarus_docu_de.pages
/assets/tartarus_docu_en.pages
